.infobox2 {
    margin-top: 50px;
    padding: 100px;
    width: 100%;
    }

td {
    border-bottom: 1px solid #0cc;
    padding: 5px;
    border-left: 1px solid #0cc;
    border-right: 1px solid #0cc;
}

th {
    border-bottom: 1px solid #0cc;
    padding: 5px;
}

#id {
    padding: 10px;
    border-left: 1px solid #0cc;
}