<ix-event-list class="infobox6">
  <ix-blind label="Example" class="child" collapsed="true">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
    voluptua.
  </ix-blind>
  <ix-blind label="Example" class="child" collapsed="true">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
    voluptua.
  </ix-blind>
  <ix-blind label="Example" class="child" collapsed="true">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
    voluptua.
  </ix-blind>
</ix-event-list>