<ix-layout-grid class="layout">
    <ix-row>
      <ix-col>
        <div class="notification">
        <ix-icon name="about"></ix-icon> 
        <span class="number">9</span>
      </div>
      <div class="notification">
        <p class="text">All Sites</p>
      </div>
      </ix-col>
      <ix-col>
        <div class="notification">
        <ix-icon name="check"></ix-icon> 
        <span class="number">2</span>
      </div>
      <div class="notification">
        <p class="text">Sites without events</p>
      </div>
      </ix-col>
      <ix-col>
        <div class="notification">
        <ix-icon name="alarm"></ix-icon> 
        <span class="number">6</span>
      </div>
      <div class="notification">
        <p class="text">Sites with events</p>
      </div>
      </ix-col>
      <ix-col>
        <div class="notification">
        <ix-icon name="certificate-exclamation"></ix-icon> 
        <span class="number">1</span>
      </div>
      <div class="notification">
        <p class="text">Disconnected sites</p>
      </div>
      </ix-col>
      <ix-col>
        <div class="notification">
        <ix-icon name="tasks-open"></ix-icon> 
        <span class="number">4</span>
      </div>
      <div><p class="text">Sites with pending updates</p></div>
      </ix-col>
    </ix-row>
  </ix-layout-grid>
<div class="chart-container">

    <ag-charts *ngIf="isBrowser && isDataLoaded" [options]="options"  class="agchart"></ag-charts>
  
    <div class="icons-container">
        <div class="icons">
            <i class="fa-regular fa-face-smile" style="color: rgb(43, 255, 43);"></i> 
            <span class="text">  
                <h4>{{feeling1}} good</h4>
                <p> good comfort score</p>
            </span> 
        </div>
        <div class="icons">
            <i class="fa-regular fa-face-meh" style="color: rgb(167, 167, 167);"></i> 
            <span class="text">  
                <h4>{{feeling2}} average</h4>
                <p> average comfort score</p>
            </span> 
        </div>
        <div class="icons">
            <i class="fa-regular fa-face-frown" style="color: rgb(255, 68, 68);"></i> 
            <span class="text">  
                <h4>{{feeling3}} bad</h4>
                <p> good comfort score</p>
            </span> 
        </div>
  </div>