<!-- This HTML is a different way to display elements of a possible graph, it also includes a search bar -->

<ix-category-filter class="filter"
      placeholder="Filter by"
      [suggestions]="suggestions"
    ></ix-category-filter>
  
<ix-event-list class="infobox4">
  <ix-event-list-item color="color-primary">Text 1</ix-event-list-item>
  <ix-event-list-item color="color-primary" 
    >Text 2</ix-event-list-item
  >
  <ix-event-list-item color="color-primary">Text 3</ix-event-list-item>
  <ix-event-list-item color="color-primary">Text 4</ix-event-list-item>
  <ix-event-list-item color="color-primary">Text 5</ix-event-list-item>
  <ix-event-list-item color="color-primary">Text 6</ix-event-list-item>
  <ix-event-list-item color="color-primary">Text 7</ix-event-list-item>
  <ix-event-list-item color="color-primary">Text 8</ix-event-list-item>
</ix-event-list>

