ix-application-header {
    font-size: 19px;
    font-weight: bold;
}

ix-menu {
    /*position: fixed;*/                        /*CONSIDER TO MAKE IT FIXED POSITION*/
    height: 100vh;
}

.breadcrumb {
    padding: 10px;
    padding-left: 50px;
        
}

.col-md-6 {
display: flex;
flex-direction: column;
}