ix-application-header {
    font-size: 19px;
    font-weight: bold;
}

ix-menu {
    position: fixed;                        /*CONSIDER TO MAKE IT FIXED POSITION*/
    padding-top: 2.8%;
    height: 100vh;
    
}

.breadcrumb {
    padding: 10px;
    padding-left: 5%;
        
}

.col-md-6 {
display: flex;
flex-direction: column;
}