
    
    <ix-application>
      <ix-application-header name="Opeations Manager (WIP)">
        <div class="placeholder-logo" slot="logo">
          <img src="assets/Siemens-logo.svg.png" alt="logo" width="150px" />
        </div>
      </ix-application-header>
      <ix-menu>
        <ix-menu-item tab-icon="home" routerLink="/home">Home </ix-menu-item>
        <ix-menu-item tab-icon="analyze" routerLink="/analyze">Analyze</ix-menu-item>
        <ix-menu-item tab-icon="calendar" routerLink="/calendar">Calendar</ix-menu-item>
        
      </ix-menu>
      <div class="breadcrumb">
        <app-breadcrumb></app-breadcrumb>
      </div>
      <router-outlet></router-outlet>
      </ix-application>