
.ag-theme-quartz .ag-cell {
    font-size: 12px; /* Adjust the font size */
    line-height: 20px; /* Adjust the line height */
    padding: 4px; /* Adjust the cell padding */
  }
  
  .ag-theme-quartz .ag-header-cell {
    font-size: 12px; /* Adjust the header font size */
    line-height: 20px; /* Adjust the header line height */
    padding: 4px; /* Adjust the header cell padding */
  }
  
  .ag-theme-quartz .ag-row {
    height: 24px; /* Adjust the row height */
  }

.text {
    position: relative;
    display: flex;
    color: d1d1d1;
}

.container .basic, .detail {
    background-color: #2d2d2d;
    padding: 10px;
}

.container .basic .text, .status {
    margin-left: 10px;
}

.container .basic .status {
    font-size: 10px;
}

.container .basic .text {
    font-size: 14px;
}