<!-- This HTML is a different way to display elements of a possible graph, it is a alternative of the tree display-->
<div class="container">
<div class="basic">
  <div style="display: flex;">
<ix-avatar image="https://www.gravatar.com/avatar/00000000000000000000000000000000"></ix-avatar>
  <div class="basic_info">
    <p class="status">Status</p>
    <p class="text"> Event </p>
  </div>
  </div>
</div>
  <div class="detail">
    <div class="row">
    <div class="col-md-6">
    <p class="text"> Date and Time </p>
    <p class="text"> Location </p>
  </div>
  <div class="col-md-6">
    <p class="text"> source</p>
  </div>
</div>
  </div>
</div>