<!-- This HTML is a different way to display elements of a possible graph, it is a alternative of the tree display-->
<ix-event-list compact class="infobox1">
    <ix-event-list-item color="color-primary">
      <ix-icon name="home" size="16" class="me-2"></ix-icon>
      Text 1
    </ix-event-list-item>
    <ix-event-list-item color="color-primary">Text 2</ix-event-list-item>
    <ix-event-list-item color="color-primary">Text 3</ix-event-list-item>
    <ix-event-list-item color="color-primary">Text 4</ix-event-list-item>
  </ix-event-list>
