<!-- header-title="My Content Page" -->
<div class="homePage">
<ix-content>
      <ix-content-header class="header"
        slot="header"
        
      >
      </ix-content-header>
      
    <div class="container">
      <div class="row">
    <div class="col-md-6">
      <app-infobox4></app-infobox4>
      <app-infobox1></app-infobox1>
      
      <!-- <div class= "tabs">
        <app-tabs></app-tabs>
      </div>
      
      <app-infobox2></app-infobox2>
       -->
    </div>
    
    <div class="col-md-6" id="map">
      <p> THIS IS A MAP</p>
       <!-- <app-infobox3></app-infobox3>
       <app-infobox4></app-infobox4> -->
    </div>
      </div>
  </div>
    </ix-content>
</div>